body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 3rem auto 0 auto;
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
  color: #66BFBF;
}

strong {
  color: #11999E;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-weight: bold;
  margin: 2%;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: 10px dotted #CCCCCC;
  border-bottom: 0;
  width: 10%;
  margin: 80px auto;
}
p {
  line-height: 2;
}

.top-container {
  padding-top: 6.25rem;
  position: relative;
  background-color: #EAF6F6;
}

.top-cloud {
  position: absolute;
  right:18.75rem;
  top:3.125rem;
}

.sub-heading {
  margin: 0;
  font-family: 'Amatic SC', cursive; font-size: 2rem;
  font-weight: normal;
  color: #66BFBF;
}

.bottom-cloud {
  position: absolute;
  left:18.75rem;
  bottom:18.75rem;
}

.middle-container {
  margin: 80px auto;
  width: 40%;
}

.profile-img {
  border-radius: 100%;
  width: 30%
}

.skill-row {
  width:50%;
  margin: 5% auto;
  text-align: left;
}

.chilli {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.computer {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bottom-container {
  margin-top: 100px;
  padding: 50px 0 20px;
  background-color: #66BFBF;
}

.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #488585);
   background-image: -moz-linear-gradient(top, #66BFBF, #488585);
   background-image: -ms-linear-gradient(top, #66BFBF, #488585);
   background-image: -o-linear-gradient(top, #66BFBF, #488585);
   background-image: -webkit-gradient(linear, left top, left bottom, from(#66BFBF), to(#488585));
   background-image: linear-gradient(to bottom, #66BFBF, #488585);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Montserrat, sans-serif;
   font-size: 16px;
   padding: 7px;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 0;
   background: #8AF9F9;
   background-image: -webkit-linear-gradient(top, #8AF9F9, #64B4B4);
   background-image: -moz-linear-gradient(top, #8AF9F9, #64B4B4);
   background-image: -ms-linear-gradient(top, #8AF9F9, #64B4B4);
   background-image: -o-linear-gradient(top, #8AF9F9, #64B4B4);
   background-image: -webkit-gradient(linear, left top, left bottom, from(#8AF9F9), to(#64B4B4));
   background-image: linear-gradient(to bottom, #8AF9F9, #64B4B4);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
